# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [47]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
sinasc_dup = sinasc.duplicated() #gerando um dataframe com os dados duplicados
sinasc_dup
sinasc_dup.sum() #descobrindo quantos dados duplicados existem
# Não há duplicados

0

In [48]:
sinasc.drop_duplicates().shape #contando o número de registros
print(sinasc.shape)

(27028, 69)

In [49]:
# 2) seu código aqui
sinasc.isna().sum() #contando o número de missing por variável

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [50]:
# 3) seu código aqui
colunas_selecionas = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 

sinasc_colunas_selecionadas = sinasc[colunas_selecionas] #gerando um novo dataframe com as colunas selecionadas
sinasc_colunas_selecionadas

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [51]:
sinasc_colunas_selecionadas.isna().sum() #contando os valores missing do novo dataframe

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [52]:
# 4) seu código aqui
sinasc_colunas_selecionadas['APGAR5'].dropna() #removendo os dados faltantes da coluna APGAR5

0        10.0
1         9.0
2        10.0
3        10.0
4        10.0
         ...
27023     9.0
27024     9.0
27025    10.0
27026     9.0
27027     8.0
Name: APGAR5, Length: 26925, dtype: float64

In [53]:
# contando os dados faltantes da coluna APGAR5
sinasc_colunas_selecionadas['APGAR5'].isna().sum()

103

In [54]:
# contando o número de linhas da coluna APGAR5 após remover os dados faltantes
sinasc_colunas_selecionadas['APGAR5'].dropna().shape

(26925,)

In [55]:
# 5) seu código aqui
sinasc_colunas_selecionadas['ESTCIVMAE'].fillna(9)

0        5.0
1        2.0
2        9.0
3        5.0
4        2.0
        ...
27023    2.0
27024    1.0
27025    2.0
27026    2.0
27027    5.0
Name: ESTCIVMAE, Length: 27028, dtype: float64

In [56]:
sinasc_colunas_selecionadas['CONSULTAS'].fillna(9)

0        4
1        4
2        4
3        3
4        4
        ..
27023    4
27024    4
27025    4
27026    4
27027    4
Name: CONSULTAS, Length: 27028, dtype: int64

In [57]:
# 6) Seu código aqui
sinasc_colunas_selecionadas['QTDFILVIVO'].fillna(0)

0        0.0
1        1.0
2        2.0
3        0.0
4        1.0
        ...
27023    1.0
27024    0.0
27025    0.0
27026    1.0
27027    1.0
Name: QTDFILVIVO, Length: 27028, dtype: float64

In [58]:
# 7) seu código aqui
colunas_para_substituir = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 

sinasc[colunas_para_substituir] = sinasc[colunas_para_substituir].fillna(0)
sinasc[colunas_para_substituir]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,37 a 41 semanas,Única,4,8.0

In [62]:
# 8) seu código aqui
sinasc_colunas_selecionadas.loc[sinasc_colunas_selecionadas['APGAR5']<= 3.0, "APGAR5_cat"] = 'asfixia severa'
sinasc_colunas_selecionadas.loc[(sinasc_colunas_selecionadas['APGAR5']>= 4.0) & (sinasc_colunas_selecionadas['APGAR5']<= 5.0),
                                "APGAR5_cat"] = 'asfixia moderada'
sinasc_colunas_selecionadas.loc[(sinasc_colunas_selecionadas['APGAR5']>= 6.0) & (sinasc_colunas_selecionadas['APGAR5']<= 7.0),
                                "APGAR5_cat"] = 'asfixia leve'
sinasc_colunas_selecionadas.loc[sinasc_colunas_selecionadas['APGAR5']>= 8.0, "APGAR5_cat"] = 'normal'

In [60]:
sinasc_colunas_selecionadas

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,APGAR5_cat
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal

In [67]:
# 9) seu código aqui
sinasc_colunas_selecionadas.columns = ['locnasc', 'idademae', 'estcivmae', 'escmae', 'qtdfilvivo', 
    'gestacao', 'gravidez', 'consultas', 'apgar5', 'apgar5_cat']

In [68]:
sinasc_colunas_selecionadas.columns

Index(['locnasc', 'idademae', 'estcivmae', 'escmae', 'qtdfilvivo', 'gestacao',
       'gravidez', 'consultas', 'apgar5', 'apgar5_cat'],
      dtype='object')

In [69]:
sinasc_colunas_selecionadas.columns = sinasc_colunas_selecionadas.columns.str.replace(' ' , '_')

In [70]:
sinasc_colunas_selecionadas

,locnasc,idademae,estcivmae,escmae,qtdfilvivo,gestacao,gravidez,consultas,apgar5,apgar5_cat
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal